:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color-secondary: #2f303a;
  --bachgroun-button-portfolio: #f5f4fa;
  --section-services-gap: 30px;
  --icon-background: #afb1b8;
  --primary-black-color: #000000;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-page {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--primary-black-color);
}
.logo-white {
  color: var(--primary-white-color);
}

/* ---------site nav--------- */
.nav {
  margin-left: 93px;
}
.site-nav {
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}
.site-nav-link.current:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}
/* -----------ICON------------ */
.icon-mail,
.icon-smartphone {
  fill: currentColor;
  margin-right: 10px;
}
.icon-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.icon-item:not(:last-child) {
  margin-right: 10px;
}
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  background-color: var(--primary-white-color);
  fill: var(--icon-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Header contacts */
.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-item:not(:first-child) {
  margin-left: 50px;
}
.header-contacts-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* Заказ услуг */
.order {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.order-btn {
  background: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em; 
  margin-top: 30px;
}

/*------------ наше преимущество------ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--bachgroun-button-portfolio);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.features {
  display: flex;
  margin-top: var(--section-services-gap);
}
.features-item {
  flex-basis: calc(100% / 4);
}

.features-item:not(:last-child) {
  margin-right: var(--section-services-gap);
}
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
/* Чем мы занимаемся */
.work-section {
  padding-top: 0px;
}
.work {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  position: relative;
}
.work-p {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Наша команда */
.section-team {
  padding: 94px 0px;
  background: var(--bachgroun-button-portfolio);
}
.team {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 10px;
}
/*--------Постоянные клиенты--------  */
.klient-list {
  display: flex;
  justify-content: center;
}
.klient-item:not(:last-child) {
  margin-right: 30px;
}
.klient-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-background);
  border-radius: 4px;
  color: var(--icon-background);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.klient-link:focus,
.klient-link:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* ----------------Футер---------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-secondary);
}
.footer-block {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-right: 70px;
}
.strong {
  display: block;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  height: 44px;
  width: 44px;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.address {
  margin-top: 20px;
  font-style: inherit;
}
.address-list {
}
.address-item:not(:first-child) {
  margin-top: 9px;
}
.address-a {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.contacts-a {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
/* Разсилка */
.footer-subscription{
  margin-left: 93px;
}
.subscription{
  display: flex;
  }
.subscription-icon{
  margin-left: 10px;
}
.subscription-input{
width: 358px;
height: 50px;
padding: 15px 16px;
margin-right: 14px;
color: var(--primary-white-color);
background: none;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-input:hover,
.subscription-input:focus{
  border: 1px solid var(--accent-color);

}
.subscription-btn{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
padding: 10px 27px;
align-items: center;
font-size: 16px;  
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;  
}

/* Portfolio */
/* -------Список кнопок------- */

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.navigation-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background: var(--bachgroun-button-portfolio);
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-btn:focus,
.navigation-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navigation-space:not(:last-child) {
  margin-right: 10px;
}

/* -------Карточки------ */

.services {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--section-services-gap));
  margin-top: calc(-1 * var(--section-services-gap));
}

.services-item {
  flex-basis: calc(100% / 3 - var(--section-services-gap));
  margin-left: var(--section-services-gap);
  margin-top: var(--section-services-gap);
}
.services-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services-link:hover,
.services-link:focus {
  transform: translateY(0);
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.services-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

.services-link:hover .overlay-text,
.services-link:focus .overlay-text {
  transform: translateY(0);
}
.overlay-p {
  text-align: left;
  padding-right: 24px;
  padding-left: 24px;
}

.services-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-services {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--primary-text-color);
}

/*----------- Бекдроп */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}
/* Модальне Вікно */

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0 auto;
  margin-bottom: 12px;
}
.form {
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
 
}

.form-label {
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-input {
  height: 40px;
  padding-left: 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 31px;
  left: 12px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-black-color);
}
.form-field:focus .form-icon,
.form-field:hover .form-icon {
  color: var(--accent-color);
  fill: currentColor;
}
/* Close button */
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:15px;  
  background-color: var(--primary-white-color);
  cursor: pointer;
  padding: 0;
  }
.icon-close{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close:hover,
.icon-close:focus{
    fill: currentColor;
    color: var(--accent-color);     
}
.form-textarea {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-textarea:hover,
.form-input:focus,
.form-textarea:focus {
  border: 1px solid var(--accent-color);  
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/* Соглашение */
.form-checkbox-label {  
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.icon-checkbox{
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
  background-size: contain;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-label:focus .icon-checkbox,
.form-checkbox-label:hover .icon-checkbox{
  border: 2px solid var(--accent-color);
}
.checkbox{
appearance: none;
position: absolute;
}
.checkbox-link{
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.checkbox:checked + .icon-checkbox{
  display: inline-block;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../image/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center ;
}
/* Отправить */
.Form-btn-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
    
  
}

